$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;


@font-face {
    font-family: "Exo 2";
    font-weight: $light;
    src: url("/static/assets/Exo2-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: "Exo 2";
    font-weight: $regular;
    src: url("/static/assets/Exo2-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: "Exo 2";
    font-weight: $semi-bold;
    src: url("/static/assets/Exo2-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: "Exo 2";
    font-weight: $bold;
    src: url("/static/assets/Exo2-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Zen Dots";
    font-weight: $regular;
    src: url("/static/assets/ZenDots-Regular.ttf") format("truetype");
}

$spot: rgb(0, 8, 119);

html {
    height: 100%;
    width: 100%;
    overflow: overlay;
    background-image: url("/static/assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body {
    min-height: max(100%, 700px);
    min-width: 1000px;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;

    .logo {
        z-index: 1;
        position: absolute;
        top: 40px;
        left: 40px;
        height: 80px;
        width: 50px;
        background-image: url("/static/assets/logo.png");
        background-size: 50px;
    }

    #main-container {
        // height: 640px;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: stretch;

        box-shadow: rgba(6, 0, 74, 0.1) 10px 10px 10px;

        .left {
            backdrop-filter: blur(50px) brightness(1.25) contrast(0.8);
            border-radius: 10px 0 0 10px;
            
            color: rgb(216, 216, 216);
            text-align: center;

            // flex: 1 0 480px
            width: 480px;
            box-sizing: border-box;

            gap: 30px;
            padding: 90px 70px;

            h2, h3 {
                margin: -25px -25px 0;
            }

            output {
                min-height: 50px;
                position: relative;
                display: table;
                padding: 0 16px;

                &::before {
                    content: "";
                    display: inline-block;
                    height: 16px;
                    width: 16px;
                    margin-right: .5em;
                    margin-bottom: -.1em;
                    background-image: url("/static/assets/error_icon.png");
                    background-size: 16px;
                    background-position: center;
                }
            }

            article {
                position: relative;
                width: 340px;
                
                word-break: break-all;
                background-color: white;
                border-radius: 5px;
                padding: 20px 14px 60px;

                h4 {
                    margin-bottom: 24px;
                }

                p {
                    font-weight: $regular;
                    font-size: 16px;
                }
            }

            .row {
                width: 100%;
                margin-bottom: 20px;
            }
        }

        .right {
            width: 480px;
            box-sizing: border-box;

            backdrop-filter: blur(50px) brightness(2.0) contrast(0.7);
            border-radius: 0 10px 10px 0;

            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: stretch;
            gap: 10px;
            padding: 95px 50px 90px;
        }

        .main {
            @extend .left;

            border-radius: 10px;

        }
    }

    &.vault {
        padding: 50px;
        box-sizing: border-box;

        #main-container {
            flex: 1;
            flex-direction: column;
            box-shadow: none;
        }

        #account-container {
            width: calc(min(var(--nr) + 1, round(var(--window-width) / 500)) * 420px - 40px);
            flex-wrap: wrap;
            justify-content: start;
            gap: 40px;
            margin-top: 15px;
            
            .account {
                position: relative;
                width: 350px;
                min-height: 240px;
                align-items: stretch;
                justify-content: stretch;
                padding: 15px;
                backdrop-filter: blur(5px) brightness(1.4) contrast(0.7);
                border-radius: 5px;
                gap: 25px;
                box-sizing: content-box;

                h2 {
                    font-size: 24px;
                    flex: 0 0 30px;
                }

                .edit {
                    position: absolute;
                    top: 16px;
                    right: 16px;
                    height: 30px;
                    width: 30px;
                    background-image: url("/static/assets/edit_icon.png");
                    background-size: 30px;
                    background-position: center;
                    background-repeat: no-repeat;
                    opacity: 0.8;
                    
                    &:hover {
                        opacity: 1;
                    }
                }

                .timer {
                    --duration: 30s;

                    position: absolute;
                    bottom: 14px;
                    right: 16px;

                    width: 22px;
                    height: 22px;
                    border: 12px solid #FFF;
                    border-radius: 50%;
                    transform:rotate(45deg);
                    box-sizing: border-box;
                    animation: prixClipFix var(--duration) infinite linear;

                    &::before {
                        content: "";
                        position: absolute;
                        box-sizing: border-box;
                        inset:-10px;
                        border-radius: 50%;
                        border:10px solid white;
                    }
                
                    @keyframes prixClipFix {
                        0% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
                        25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
                        50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
                        75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
                        100%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
                    }
                }
    

                .value {
                    position: relative;
                    color: rgba(255, 255, 255, .6);
                    cursor: pointer;
                    
                    &:hover {
                        color: white;
                        word-break: break-all;
                        overflow: unset;
                        white-space: unset;

                    }

                    &[name="password"] {
                        font-size: 0;
                        &::before{
                            content: "***********";
                            font-size: 20px;
                        }
                        
                        &::after {
                            margin-left: 0;
                        }

                        &.show {
                            font-size: 20px;
                            &::before{
                                content: "";
                            }
                        }
                    }

                    .password-show {
                        display: inline-block;
                        height: 18px;
                        width: 40px;
                        margin-bottom: -5px;
                        background-image: url(/static/assets/password.png);
                        background-size: 13px;
                        background-position: center;
                        background-repeat: no-repeat;
                    }

                    &.show {
                        .password-show {
                            background-image: url(/static/assets/hide_password.png);
                        }
                    }

                    &[name="mfa"] {
                        padding-right: 32px;
                    }
                }

                .grid {
                    flex: 1;
                    display: grid;
                    grid-template-columns: fit-content(50px) 1fr;
                    grid-template-rows: fit-content(25px) fit-content(25px) 1fr fit-content(25px);
                    gap: 15px;
                    
                    p {
                        margin: 0;
                        font-size: 20px;
                    }
                }
            }

            #add-account {
                justify-content: center;
                text-decoration: none;
                backdrop-filter: blur(50px) brightness(1.6) contrast(0.8);
                cursor: pointer;

                h3 {
                    text-align: center;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 16px;
                    right: 16px;
                    height: 30px;
                    width: 30px;
                    background-image: url("/static/assets/add_account_icon.png");
                    background-size: 30px;
                    background-position: center;
                    background-repeat: no-repeat;
                    pointer-events: none;
                }

                &:hover {
                    background-color: rgba(255, 255, 255, .2);
                }
            }
        }

        header {
            position: relative;
            align-self: stretch;
            justify-content: center;
            margin-bottom: 20px;

            #search {
                width: 770px;
                height: 48px;
                border-radius: 30px;
                text-align: center;
                font-weight: $regular;
            }

            label {
                position: relative;
                left: 56px;
                top: -1px;
                padding: 11px 17px 7px 16px;
                background: rgba(0, 0, 0, 0.2);
                color: white;
                border-radius: 50%;
                cursor: pointer;

                &:hover {
                    background: rgba(0, 0, 0, 0.3);
                }
            }

            #search-modal {
                position: absolute;
                padding: 24px;
                left: calc(50% - 200px);
                top: 54px;
                width: 400px;
                backdrop-filter: blur(50px) brightness(1.65) contrast(0.6);
                cursor: pointer;

                p {
                    font-size: 16px;
                }
            }

            // Input cannot have psudo elements. grmlbl
            span {
                position: relative;
                
                &:has(input#search) {
                    &::before {
                        content: "";
                        position: absolute;
                        top: 11px;
                        left: 15px;
                        height: 24px;
                        width: 24px;
                        background-image: url("/static/assets/search_icon.png");
                        background-size: 24px;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
            }
            
            #logout-form {
                position: absolute;
                right: 0;
            }

            #logout {
                position: absolute;
                right: 0;
            }
        }


        h4, p {
            font-size: 24px;
            color: white;
        }

        h3 {
            color: $spot;
        }
    }

    .dialog-header {
        background: linear-gradient(to right, #90A2F2 0, #BDDBFC 100%);
        border-radius: 10px 0 0 10px;
        width: 480px;
        margin: 0 -70px;
        padding: 25px;
        box-sizing: border-box;
        color: $spot;

        h2 {
            color: $spot;

        }
    }

    &.add {
        .back {
            position: absolute;
            top: 54px;
            left: 5px;
            width: 70px;
            height: 70px;
            background-image: url(/static/assets/back_icon.png);
            background-size: 25px;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }

        #main-container {
            flex-direction: column;

            backdrop-filter: blur(50px) brightness(1.25) contrast(0.8);
            border-radius: 10px 0 0 10px;
            
            width: 480px;
            box-sizing: border-box;

            padding: 90px 70px;

            form {
                width: unset;

                backdrop-filter: unset;
                border-radius: unset;
                
                color: rgb(216, 216, 216);
                text-align: center;

                gap: 30px;
                padding: 0;

                p#password {
                    color: rgb(216, 216, 216);
                    margin: -10px 0;
                }

                &[name="delete"] {
                    margin-top: 30px;
                    
                    input {
                        background: none;
                        text-decoration: underline;
                        color: white;
                        font-family: "Exo 2", sans-serif;
                        font-weight: 300;
                        font-size: 20px;
                        cursor: pointer;
                    }
                }
            }

            .example {
                align-self: stretch;
                text-align: start;
                margin-top: -24px;
                word-break: break-all;
                font-size: 18px;
                color: rgba(255, 255, 255, 0.6);
            }
        }

    }

    // General
    h1 {
        font-family: "Zen Dots", sans-serif;
        font-weight: $regular;
        font-size: 48px;
        color: white;

        margin: 0;
    }

    h2 {
        @extend h1;

        font-size: 40px;
    }

    h3 {
        @extend h1;

        font-size: 24px;
    }

    h4 {
        @extend h1;

        font-family: "Exo 2", sans-serif;
        font-weight: $bold;
        font-size: 18px;
        color: $spot;
    }

    p {
        font-family: "Exo 2", sans-serif;
        font-weight: $light;
        font-size: 20px;
        color: $spot;
        margin: 0 0 10px;
    }

    a {
        box-sizing: border-box;
        color: white;
        font-family: "Exo 2", sans-serif;
        font-weight: $light;
        font-size: 20px;
    }

    input {
        width: 100%;
        height: 40px;
        box-sizing: border-box;

        border: none;
        outline: none;
        text-decoration: none;

        font-family: "Exo 2", sans-serif;
        font-weight: $semi-bold;
        font-size: 20px;
        color: $spot;

        background: white;
        padding: 10px 18px;
        border-radius: 6px;

        &::placeholder {
            font-family: "Exo 2", sans-serif;
            font-weight: $regular;
            font-size: 20px;
            color: rgb(194, 191, 207);
            opacity: 1; /* Firefox */
        }

        &.error {
            border: 3px solid rgb(255, 124, 148);
        }
    }

    output {
        font-family: "Exo 2", sans-serif;
        font-weight: $light;
        font-size: 20px;
    }

    .column {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .action-button {
        display: inline-block;

        height: 48px;
        width: 158px;
        padding: 10px 15px;
        
        background: white;
        box-shadow: rgba(6, 0, 74, 0.1) 5px 5px 5px;
        border-radius: 6px;

        font-family: "Exo 2", sans-serif;
        font-weight: $semi-bold;
        font-size: 18px;
        color: $spot;

        text-align: center;
        border: none;
        outline: none;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            background: rgb(12, 0, 69);
            color: white;
        }

        &.bigger { 
            width: 240px;
        }
    }

    .secondary-button {
        @extend .action-button;

        background: rgb(12, 0, 69);
        color: white;

        &:hover {
            background: white;
            color: $spot;
        }
    }
    
    .hidden {
        visibility: hidden;
    }

    .off {
        display: none;
    }

    .spacer {
        flex: 1;
    }

    .elipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
