<div class="account column">
  <h2 class="elipsis">%[4]s</h2>
  <div class="grid">
      <p><b>Username</b></p>
      <p name="username" class="elipsis value">%[5]s</p>
      <p><b>Password</b></p>
      <p name="password" class="elipsis value">%[6]s<span class="password-show"></span></p>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <p><b>MFA code</b></p>
      <p name="mfa" class="elipsis value" data-otpauth="%[7]s">Generating...</p>
    </div>
    <div class="timer hidden"></div>
    <a class="edit" href="/account/%[1]s/%[2]s/%[3]d/"></a>
</div>
